.loading {
  width: 100%;
  height: 600px;
  top: -20px;
  position: absolute;
}

.Stars-appear {
  opacity: 0;
  transform: translateY(0px);
}

.Stars-appear.Stars-appear-active {
  opacity: 1;
  transform: translateY(500px) translateX(750px);
  transition: all 1s ease-in;
}

.star {
  font-size: 30%;
}
