.loading {
  width: 100%;
  height: 600px;
}

.Rocket-appear {
  opacity: 0;
  transform: translateY(500px) rotate(-45deg) scale(2);
}

.Rocket-appear.Rocket-appear-active {
  opacity: 1;
  transform: translateX(1000px);
  transition: all 2s ease-in;
}
