.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 700px;
}

.image {
  height: 700px;
}

.container {
  background-color: #000000;
}

@media (max-width: 500px) {
  .container {
    display: initial;
  }

  .image {
    width: 100%;
    height: initial;
  }
}
