.hero {
  height: 80vh;
  width: 100%;
  z-index: 9;
  margin-bottom: -10em;
}

.hero > img {
  width: 100%;
  max-height: 100%;
}
.optionsHeader {
  text-align: center;
  color: #ccdad1;
}
.options {
  display: flex;
  justify-content: space-evenly;
}

.option {
  text-align: center;
  background-color: #1e2327cc;
  padding: 1em;
  width: 30%;
}

@media (max-width: 500px) {
  .hero > img {
    display: none;
  }

  .hero {
    display: none;
  }

  .options {
    flex-direction: column;
  }

  .option {
    width: 90%;
  }
}
