.homeContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 120%;
  font-weight: 300;
}

.homeText {
  padding-right: 2em;
}

.homeListItem {
  list-style: none;
}

.homeListItem > a {
  color: #a3d9ff;
}

.homeListItem > a:hover {
  color: #e28413;
}
