.hero {
  background: url('https://images-assets.nasa.gov/image/PIA18165/PIA18165~large.jpg')
    no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  width: 100%;
  z-index: 9;
  margin-bottom: -10em;
}

.title {
  position: relative;
  top: 30px;
  left: 30px;
  font-size: 50px;
  font-weight: 100;
}
.optionsHeader {
  text-align: center;
  color: #ccdad1;
}
.options {
  display: flex;
  justify-content: space-evenly;
}

.option {
  text-align: center;
  background-color: #1e2327cc;
  padding: 1em;
  width: 30%;
}

.extras {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 55% 40%;
  grid-gap: 5%;
}

.info {
  background: #fffbfc3a;
  padding: 1em;
}
