.container {
  color: #a3d9ff;
  text-align: center;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 2px;
  width: 8em;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #a3d9ff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
