.container {
  color: #a3d9ff;
  text-align: center;
  padding-top: 100px;
}

.epicButton {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 2px;
  font-size: 14px;
  width: 8em;
  text-decoration: none;
  background: #0069ed;
  color: #fffbfc;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.epicButton:hover,
.epicButton:focus {
  background: #0053ba;
}

.epicButton:focus {
  outline: 1px solid #a3d9ff;
  outline-offset: -3px;
}

.epicButton:active {
  transform: scale(0.99);
}
