/* Body */

main {
  padding-top: 40px;
  color: #221d23;
}

/*  Header and Nav */
header {
  padding: 10px;
  width: 100%;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  border-bottom: 1px groove #e5d352;
}

nav > a {
  text-decoration: none;
  color: #221d23;
  padding: 10px;
}

nav > div {
  color: #ac3931;
  display: inline;
  margin-right: 10px;
}

nav > a:hover {
  background: #bcd2ee;
}

/* Search Form */
.description {
  opacity: 0.75;
  font-size: 75%;
}

.form-group {
  display: grid;
  grid-template-columns: 10% 10% 50%;
  grid-template-rows: 100%;
  margin-bottom: 5px;
}

input {
  width: 80%;
}

/* Results */

.preview {
  height: 150px;
  width: 200px;
}

/* APOD */

.apod {
  max-width: 800px;
}

/* Color Scheme:
medium: #537D8D
light: #BCD2EE
dark: #221D23
red: #AC3931
gold: #E5D352
*/
