img {
  height: 150px;
  width: 200px;
}

li {
  list-style: none;
}

header {
  margin-bottom: 10px;
}

nav > a {
  text-decoration: none;
  color: rgb(35, 35, 252);
}

.description {
  opacity: 0.75;
  font-size: 75%;
}
