body {
  padding: 1em;
  background-color: #1e2327;
  color: #ccdad1;
}

a {
  color: #a3d9ff;
  text-decoration: none;
}

a:hover {
  color: #e28413;
  text-decoration: underline;
}

main {
  min-height: 300px;
}
