.title {
  text-align: center;
}

.apodImage {
  max-height: 500px;
  display: block;
  margin: auto;
}

.apodVideo {
  margin: auto;
  display: block;
}

.description {
  text-align: center;
  padding: 1em;
}

@media (max-width: 500px) {
  .apodImage {
    width: 100%;
  }

  .title {
    font-size: 100%;
  }

  .description {
    text-align: left;
  }
}
